<div class="panel panel-success" ng-controller="ChatController">
    <div class="panel-heading">
        Chat Room!
    </div>
    <div class="panel-body" style="max-height: 600px; overflow-y: scroll;">
        <div ng-repeat="message in chatMessages">
            <span class="small">{{message.username}}:</span> {{message.content}}
        </div>
    </div>
    <div class="panel-footer">
        <form ng-submit="sendMessage(message)">
            <input type="text" class="form-control" ng-model="message" />
        </form>
    </div>
</div>