<div ng-controller="AuthController" class="form-inscription">
    <h2>Inscription</h2>
    <hr />

    <p class="text-danger" ng-show="registerError">{{registerError}}</p>

    <div class="form-group">
        <label for="email">Adresse Email</label>
        <input type="text" class="form-control input-sm" id="email" ng-model="registerForm.Email" />
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control input-sm" id="password" ng-model="registerForm.Password" />
    </div>
    <div class="form-group">
        <label for="passwordConfirmation">Confirmation du mot de passe</label>
        <input type="password" class="form-control input-sm" id="passwordConfirmation" ng-model="registerForm.ConfirmPassword" />
    </div>
    <div class="form-group text-right">
        <button class="btn btn-success btn-sm" ng-click="register(registerForm)">S'inscrire</button>
    </div>
</div>